@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Vollkorn", serif;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
}

main {
  height: 100%;
  padding: .6rem;
}
